
.container {
  margin-top: 4.5em;
}

hr {
  border: 0;
  height: 1.5px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.output {
  margin-top: 2em;
  margin-left: 2em;
  padding: 37%;
  margin-right: auto;
  border: 2px solid lightgray;
  border-radius: 12%;
}